section{
    width: 100%;
    padding: 100px 0;
    background-color: lightcoral;
    
    .inner{
        width: 1180px;
        margin: 0 auto;
        &:hover{
            .wrap{
                article{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
        h1{
            // font: bold 22px/1 "arial";
            // color: #333;
            // margin-bottom: 50px;
            @include h1($font: normal 100px/1 "arial");
        }
        .wrap{
            width: 100%;
//          &는 .wrap을 다시 쓴거랑 똑같음
            @include clear;
            // &::after{
            //     content: '';
            //     display: block;
            //     clear: both;
            // }
            article{
                @include article;
                opacity: 0;
                transform: translateY(100px);
                transition: all 0.5s;
                @for $i from 1 through 4{
                    &:nth-of-type(#{$i}){
                        transition-delay: 0.3s * $i;
                    }
                }

                &:last-child{
                    margin-right: 0;
                }
                &:nth-of-type(2n){
                    background-color: yellow;
                }
                &:hover{
                    &:nth-of-type(2n){
                        background-color: aqua;
                    }
                    .pic{
                        background-color: yellow;
                    }
                }
                .pic{
                    @include pic($bgColor:lightblue);
                }
                h2{
                    font: bold 16px/1 "arial";
                    color: #555;
                }
                p{
                    @include p($fontColor:orange);
                }
                a{
                    @include button($bgColor:#000, $wid:80px);
                }
            }
        }
    }
}